#calc-body {
       height: 50%;
       margin: auto;
       width: 50%;
       border: none;
       border-radius: 20px;
       background-color: rgb(0, 0, 0);
       align-items: center;
       width: 350px;
       padding: 5px 2px;
       max-height: 600px;
       overflow: hidden;
}
body { 
       background-color:  rgba(9, 118, 227, 0.8);  

}
#icons {
       display: grid;
       grid-template-rows: repeat(4, 1fr);
       grid-template-columns: repeat(4, 1fr);
       margin-left: 2px;
       gap: 5px;

}
#appendDisplay {
       text-align: right;
       flex: 1;
       margin-left: 10px;
       margin-top: 5px;
       border-radius: 10px;
       width: 325px;
       height: 100px;
       background-color: rgb(0, 0, 0);
       color: rgb(255, 255, 255);
       border: none;
       font-size: 50px;
       font-family: Arial, Helvetica, sans-serif;
}
button {     
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: rgba(30, 30, 30, 0.571);
    color: rgb(255, 255, 255);
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: 10px 10px;
    border: none;
}
.optr {
    background-color: rgba(223, 138, 0);
    color: rgb(255, 255, 255);  
}
.optr2 {
       background-color: rgba(86, 85, 85, 0.784);
       color: rgb(255, 255, 255);      
}
button:hover {
       cursor: pointer;
       opacity: 0.8;
}
button:active {
       opacity: 0.7;
}